package ${package}.${moduleName}.service;

import org.springframework.stereotype.Service;
import java.util.Map;
import ${package}.${moduleName}.maper.${className}Mapper;
import ${package}.${moduleName}.model.${className}Entity;
import ${package}.${moduleName}.service.${className}Service;


/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service("${classname}Service")
public class ${className}Service  extends BaseService<${className}Mapper, ${className}Entity>{

    @Override
    public PageUtils queryPage(Map<String, Object> params) {
        Example example = new Example(${className}Entity.class);
        Example.Criteria criteria = example.createCriteria();
        Page<SysRole> list = PageHelper.startPage(params).doSelectPage(() -> baseMapper.selectByExample(example));
        return new PageInfo(list);
    }

    public void deleteBatchIds(List<Long> ids) {
        Example example = new Example(${className}Entity.class);
        Example.Criteria criteria = example.createCriteria();
        criteria.andIn(${pk.attrname},ids);
        baseMapper.deleteByExample(example);
    }

}
